body::before{
      content:"";
      position:fixed;
      width:600px;
      height:600px;
      background: radial-gradient(circle, #4f8cff40 0%, transparent 70%);
      top:-200px;
      right:-150px;
      z-index:-1;
      animation: float 8s ease-in-out infinite;
    }

    body::after{
      content:"";
      position:fixed;
      width:500px;
      height:500px;
      background: radial-gradient(circle, #2dd4bf26 0%, transparent 70%);
      bottom:-200px;
      left:-150px;
      z-index:-1;
      animation: float2 10s ease-in-out infinite;
    }

    @keyframes float{
      0%,100%{
        transform:translateY(0px);
      }
      50%{
        transform:translateY(40px);
      }
    }

    @keyframes float2{
      0%,100%{
        transform:translateY(0px);
      }
      50%{
        transform:translateY(-40px);
      }
    }





    @keyframes floatingCard{
      0%,100%{
        transform:translateY(0px);
      }
      50%{
        transform:translateY(-12px);
      }
    }

    @keyframes fadeUp{
      from{
        opacity:0;
        transform:translateY(40px);
      }
      to{
        opacity:1;
        transform:translateY(0px);
      }
    }